.container {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(180deg, #f3f2f2 0%, #dcdbdb 100%);
}
.women {
  position: absolute;
  bottom: -37px;
}
.men {
  position: absolute;
  bottom: 11px;
  right: 101px;
}
.form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 532px;
  padding: 80px 96px 96px;
  background-color: #fff;
}
.form span {
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #121212;
  opacity: 0.4;
}
span.sale {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #e91e63;
  opacity: 1;
}
.form h2 {
  max-width: 282px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}

.label {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  padding: 23px 100px;
  background: #f8f8f8;
  border: none;
}
.label::placeholder {
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #121212;
  opacity: 0.4;
}
.input {
  width: 340px;
  margin-top: 24px;
  padding: 23px 118px;
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
  background: #121212;
  border: 2px solid #121212;
  cursor: pointer;
}
.input:disabled {
  background: #121212;
  opacity: 0.1;
  cursor: auto;
}
.loaderWrapper {
  position: relative;
}
.status,
.error {
  /* position: absolute;
  top: 0;
  left: 0; */
  padding-top: 5px;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}
.status {
  color: green;
}
.error {
  color: red;
}
.errorEmail {
  padding-left: 0;
  color: red;
  padding-top: 5px;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}
.wrapperLoader {
  position: relative;
}
.loader {
  z-index: 1;
  position: absolute;
  top: 45px;
  left: 58px;
}
@media (min-width: 320px) and (max-width: 740px) {
  .container {
    display: none;
  }
}
