.ask {
  padding-bottom: 35px;
  padding-top: 35px;
  border-bottom: 2px solid #e6e6e6;
}
.askList {
  display: flex;
  justify-content: space-between;
}
.askList li {
  align-items: center;
  width: auto;
  height: 24px;
  padding-left: 30px;
}
.askList li p {
  font-style: normal;
  padding-left: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #121212;
  opacity: 0.6;
}
.one {
  background-image: url(../../../assets/png/truck\ 1.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
.two {
  background-image: url(../../../assets/png/refresh\ 1.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
.three {
  background-image: url(../../../assets/png/mail\ 1.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
