.review {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 2px solid #e6e6e6;
}
.reviewTitle {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}
.reviewList {
  display: flex;
  margin-right: 8px;
}
.reviewList li img {
  width: 22px;
  height: 22px;
}
.reviewWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.reviewWrapperList li {
  height: 22px;
  width: 22px;
}
.reviewWrapperList li img {
  height: 22px;
  width: 22px;
}
.reviewWrapperList {
  align-items: center;
  display: flex;
}
.reviewText {
  padding-left: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #121212;
  opacity: 0.6;
  background-image: url(../../../assets/png/annotation\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.reviewSpan {
  margin-left: 8px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.64;
  color: #121212;
  opacity: 0.6;
}
.reviewListSmall {
  display: flex;
}
.reviewListSmall li {
  width: 14px;
  height: 14px;
}
.smallListItem:not(:last-child) {
  margin-bottom: 48px;
}
.reviewListSmall li:not(:last-child) {
  margin-bottom: 0;
}
.reviewName {
  opacity: 1;
  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  color: #121212;
}
.reviewSmallListWraooer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.smallList {
  margin-top: 24px;
}
.reviewPar {
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #121212;
  opacity: 0.8;
}
.btn {
  padding-left: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #121212;
  opacity: 0.6;
  background-color: inherit;
  border: none;
}

@media (min-width: 320px) and (max-width: 540px) {
  .reviewWrapper {
    display: table;
  }
  .reviewSmallListWraooer {
    display: table;
  }
  .reviewPar {
    width: 90%;
  }
}
