.foto {
  display: flex;
}
.topBtn,
.bottomBtn {
  border: none;
  background-color: inherit;
  padding: 0;
}

.wrapper {
  width: 114px;
  height: 560px;
  overflow: hidden;
}
.btnWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.btnWrapper button,
.container button {
  padding: 0;
  height: 40px;
  width: 40px;
  display: block;
}
.list li {
  width: 94px;
  height: 114px;
}
.images {
  width: 100%;
  height: 100%;
  filter: opacity(0.4);
}

.list li:not(:last-child) {
  margin-bottom: 16px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 16px;
  width: 448px;
  height: 560px;
}
.container img {
  width: 100%;
  height: 560px;
}
@media (min-width: 585px) and (max-width: 740px) {
  .foto {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .wrapper {
    width: 94px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-left: 0;
    height: 560px;
    background-image: url(../../assets/img/f5.png);
  }
  .list {
    width: 100%;
  }
  .list li {
    height: 114px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 320px) and (max-width: 585px) {
  .foto {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .wrapper {
    display: none;
  }
  .container {
    width: 280px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .list {
    width: 100%;
  }
  .list li {
    height: 114px;
    margin-left: auto;
    margin-right: auto;
  }
}
